---
export interface Props {
	href: string;
	label: string;
	isSecondary?: boolean;
}

const { href, label, isSecondary } = Astro.props as Props;
---

<a href={href} class:list={["btn", { secondary: isSecondary }]}>
	<slot name="icon--left" />
	{label}
	<slot name="icon--right" />
</a>

<style lang="scss">
	@import "../styles/variables.scss";

	.btn {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: map-get($spacing, "200");
		padding-block: map-get($spacing, "400");
		padding-inline: map-get($spacing, "600");
		background-color: map-get($primary, "500");
		border: 1px solid transparent;
		border-radius: 0.25rem;
		box-shadow: 0 10px 40px -10px rgba(map-get($primary, "500"), 0.5);
		cursor: pointer;
		font-size: map-get($font-size, "400");
		line-height: 1;
		font-weight: 600;
		text-align: center;
		color: $white;
		white-space: no-wrap;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: map-get($primary, "400");
		}

		&:active,
		:visited {
			background-color: map-get($primary, "600");
		}
	}

	.btn.secondary {
		background-color: rgba(map-get($neutrals, "100"), 0.4);
		color: map-get($primary, "500");
		box-shadow: none;

		&:hover {
			background-color: rgba(map-get($neutrals, "100"), 0.3);
		}

		&:active,
		:visited {
			background-color: rgba(map-get($neutrals, "100"), 0.5);
		}
	}
</style>
