---
---

<div class="container">
	<slot />
</div>

<style lang="scss">
	@import "../styles/variables.scss";

	.container {
		position: relative;
		z-index: 100;
		width: 100%;
		max-width: map-get($breakpoints, "xxl");
		margin-inline: auto;
		padding-inline: map-get($spacing-pairs, "from-400-to-900");
	}
</style>
