---
import Container from "./Container.astro";
---

<section id="logos" class="section py-4">
	<Container>
		<div class="flex-center">
			<p class="mb-6">I'm proficient in the following tools and tech:</p>
		</div>
		<div class="logos--wrapper">
			<div class="logos">
				<div class="logo">
					<img src="/assets/img/photoshop.svg" alt="Photoshop logo" />
					<div class="logo--tooltip">Photoshop</div>
				</div>
				<div class="logo">
					<img src="/assets/img/illustrator.svg" alt="Illustrator logo" />
					<div class="logo--tooltip">Illustrator</div>
				</div>
				<div class="logo">
					<img src="/assets/img/react.svg" alt="React logo" />
					<div class="logo--tooltip">React</div>
				</div>
				<div class="logo">
					<img src="/assets/img/astro.svg" alt="Astro logo" />
					<div class="logo--tooltip">Astro</div>
				</div>
				<div class="logo">
					<img src="/assets/img/figma.svg" alt="Figma logo" />
					<div class="logo--tooltip">Figma</div>
				</div>
				<div class="logo">
					<img src="/assets/img/tailwind.svg" alt="Tailwind logo" />
					<div class="logo--tooltip">Tailwind</div>
				</div>
				<div class="logo">
					<img src="/assets/img/webflow.svg" alt="Webflow logo" />
					<div class="logo--tooltip">Webflow</div>
				</div>
				<div class="logo">
					<img src="/assets/img/wordpress.svg" alt="Wordpress logo" />
					<div class="logo--tooltip">WordPress</div>
				</div>
			</div>
		</div>
	</Container>
</section>

<style lang="scss">
	@import "../styles/variables.scss";

	@keyframes appear {
		from {
			visibility: hidden;
			opacity: 0;
		}
		to {
			visibility: visible;
			opacity: 1;
		}
	}

	p {
		font-family: "Caveat";
		font-size: map-get($font-size, "500");
		line-height: 1;
		color: map-get($primary, "500");
	}

	.logos--wrapper {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.logos {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: map-get($spacing, "400");
		flex-wrap: wrap;
		margin-inline: auto;
		padding-block: map-get($spacing, "200");
		padding-inline: map-get($spacing, "600");
		border: 1px solid map-get($neutrals, "100");
		border-radius: 1rem;
		background-color: rgba(map-get($neutrals, "100"), 0.1);

		@media screen and (min-width: map-get($breakpoints, "lg")) {
			justify-content: space-around;
		}
	}

	.logo {
		position: relative;

		&:hover {
			.logo--tooltip {
				animation: appear 0.3s forwards;
			}
		}
	}

	.logo--tooltip {
		position: absolute;
		top: calc(-50% - 0.25rem);
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		height: auto;
		padding-block: map-get($spacing, "100");
		padding-inline: map-get($spacing, "300");
		background-color: map-get($neutrals, "500");
		border-radius: 0.25rem;
		font-size: map-get($font-size, "300");
		line-height: 1;
		font-weight: 500;
		color: $white;
		visibility: hidden;
		opacity: 0;
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			width: 0;
			height: 0;
			border: solid transparent;
			pointer-events: none;
		}

		&::after {
			border-color: rgba(map-get($neutrals, "500"), 0);
			border-top-color: map-get($neutrals, "500");
			border-width: 0.5rem;
			margin-left: -0.5rem;
		}
	}

	.logos img {
		position: relative;
		width: 3.5rem;
		height: 3.5rem;
		object-fit: contain;
		filter: drop-shadow(0 4px 6px rgba($black, 0.1));
	}
</style>
